app-chat {
  header {
    cursor : pointer;    
    background: #2196f3;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 100%;
    z-index: 1;
  }

  .slideup, .slidedown {
    max-height: 340px;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
  }
  .slidedown {            
      max-height: 0 ;                    
  } 

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
  }
}